<!DOCTYPE html>
<html lang="{{ .Printer.Bcp }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ if .Debugp }}
		<link href="/style-2.css" type="text/css" rel="stylesheet">
		{{ else }}
		<link href="/style.min.css" type="text/css" rel="stylesheet">
		{{ end }}
		<title>{{ .Get "Euro Cash Wiki" }}</title>
		<script type="text/javascript">
			const $  = q => document.querySelector(q);
			const $$ = q => document.querySelectorAll(q);

			(() => {
				document.addEventListener("DOMContentLoaded", _ => {
					const root = $("html");
					const icons = {
						light: $("#nav-icon-theme-light"),
						dark:  $("#nav-icon-theme-dark"),
					};

					const toggle = theme =>
						  theme === "light" ? "dark" : "light"

					const setTheme = theme => {
						localStorage.setItem("theme", theme);
						root.setAttribute("data-theme", theme);
						icons[theme].style.display = "";
						icons[toggle(theme)].style.display = "none";
					};

					/* Double toggle to handle invalid theme */
					setTheme(toggle(toggle(localStorage.getItem("theme"))));
					$("#theme-button").onclick = () => {
						const theme = toggle(localStorage.getItem("theme"));
						if (document.startViewTransition)
							document.startViewTransition(() => setTheme(theme));
						else
							setTheme(theme);
					};
				});
			})();
		</script>

		{{ template "header" . }}
  </head>
  <body>
		{{ template "content" . }}
		<footer class="container">
			<p>
				<small>
					{{ .Get "Found a mistake or want to contribute missing information?" }}
					<a href="/about">{{ .Get "Feel free to contact us!" }}</a>
				</small>
			</p>
		</footer>
	</body>
</html>