<!DOCTYPE html>
<html lang={{ .Printer.Bcp }}>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ if .Debugp }}
		<link href="/style.css" type="text/css" rel="stylesheet">
		{{ else }}
		<link href="/style.min.css" type="text/css" rel="stylesheet">
		{{ end }}
		<title>{{ .Get "Euro Cash Wiki" }}</title>
		<script type="text/javascript">
			const $  = q => document.querySelector(q);
			const $$ = q => document.querySelectorAll(q);

			const validate = theme =>
				["light", "dark"].includes(theme) ? theme : "light";
			const toggle = theme =>
				theme == "light" ? "dark" : "light";

			const setTheme = theme => {
				localStorage.setItem("theme", theme);
				$("html").setAttribute("data-theme", theme);
				$(`#nav-icon-theme-${theme}`).style.display = "";
				$(`#nav-icon-theme-${toggle(theme)}`).style.display = "none";
			};

			document.addEventListener("DOMContentLoaded", _ => {
				$("#theme-button").onclick = () =>
					setTheme(toggle(validate(localStorage.getItem("theme"))));
				setTheme(validate(localStorage.getItem("theme")));
			});
		</script>
  </head>
  <body>
		{{ template "content" . }}
		<footer>
			<p>
				<small>
					{{ .Get "Found a mistake or want to contribute missing information?" }}
					<a href="/about">{{ .Get "Feel free to contact us!" }}</a>
				</small>
			</p>
		</footer>
	</body>
</html>