{{ define "header" }}
{{ template "header-navbar" . }}
{{ end }}

{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .Code }} {{ .Msg }}</h1>
</header>
<main>
	<p>
		{{ .Get "If you’re seeing this page, it means that something went wrong on our end that we need to fix. Our team has been notified of this error, and we apologise for the inconvenience." }}
	</p>
	<p>
		{{ .Get "If this issue persists, don’t hesitate to contact ‘@onetruemangoman’ on Discord or to email us at {Email:e}"
			(map "Email" "mail@euro-cash.eu") }}
	</p>
</main>
{{ end }}