{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .T "Page Not Found" }}</h1>
</header>
<main>
	<p>
		{{ .T `
			The page you were looking for does not exist.  If you believe this
			is a mistake then don’t hesitate to contact @onetruemangoman on
			Discord or email us at %s.`
			`<a href="mailto:mail@euro-cash.eu">mail@euro-cash.eu</a>` | safe
		}}
	</p>
</main>
{{ end }}
