{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .T "About Us" }}</h1>
</header>
<main>
	<h2>{{ .T "Open Source" }}</h2>
	<p>
		{{ .T "This website is an open project, and a collaboration between developers, translators, and researchers. All source code, data, images, and more for the website are open source and can be found %shere%s. This site is licensed under the BSD 0-Clause license giving you the full freedom to do whatever you would like with anyof the content on this site." `<a href="https://git.thomasvoss.com/www.euro-cash.eu" target="_blank">` `</a>` | safe }}
	</p>
	<h2>{{ .T "Contact Us" }}</h2>
	<p>
		{{ .T "While we try to stay as up-to-date as possible and to fact check our information, it is always possible that we get something wrong, lack a translation, or are missing some piece of data you may have. In such a case don’t hesitate to contact us; we’ll try to get the site updated or fixed as soon as possible. You are always free to contribute via a git patch if you are more technically included, but if not you can always send an email to %s or contact ‘@onetruemangoman’ on Discord." `<a href="mailto:mail@euro-cash.eu">mail@euro-cash.eu</a>` | safe }}
	</p>
	<h2>{{ .T "Special Thanks" }}</h2>
	<table>
		<thead>
			<th scope="col">{{ .T "Development" }}</th>
			<th scope="col">{{ .T "Research" }}</th>
			<th scope="col">{{ .T "Translations" }}</th>
		</thead>
		<tbody>
			<tr>
				<td>
					Jessika Wexler,
					Lyyli Savolainen,
					Ralf Nadel
				</td>
				<td>
					Elín Hjartardóttir,
					Storm Sørensen
				</td>
				<td>
					<span data-tooltip={{ .T "British- & American English" }}>Thomas Voss</span>,
					<span data-tooltip={{ .T "Icelandic" }}>Védís Indriðadóttir</span>
				</td>
			</tr>
		</tbody>
	</table>
</main>
{{ end }}
