{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .Get "Euro Banknotes" }}</h1>
</header>
<main>
	<p>
		{{ .Get "On this section of the site you can find everything there is to know about the banknotes of the Eurozone." }}
	</p>
	<hr>
	<section>
		<div class="grid">
			<a class="no-deco" href="/banknotes/designs">
				<article>
					<header>
						<h3>{{ .Get "Designs" }}</h3>
					</header>
					<main>
						{{ .Get "View the different Euro banknote designs" }}
					</main>
				</article>
			</a>
			<a class="no-deco" href="/banknotes/codes">
				<article>
					<header>
						<h3>{{ .Get "Location Codes" }}</h3>
					</header>
					<main>
						{{ .Get "Find out where your notes were printed" }}
					</main>
				</article>
			</a>
			<a class="no-deco" href="/banknotes/test">
				<article>
					<header>
						<h3>{{ .Get "Test Notes" }}</h3>
					</header>
					<main>
						{{ .Get "Learn about the special test notes" }}
					</main>
				</article>
			</a>
		</div>
	</section>
</main>
{{ end }}
