{{ define "header" }}
{{ template "header-navbar" . }}
{{ end }}

{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .Get "Location Codes" }}</h1>
</header>
<main>
	<p>
		{{ .Get "Euro banknotes have two codes on them: a printer code and a serial number. The printer code tells you where a given note was printed, while the serial number tells you which country issued the banknote (for the 2002 series) or where the banknote was printed (for the Europa series)." }}
	</p>

	<h2>{{ .Get "Printer Code" }}</h2>
	<p>
		{{ .Get "The printer code (not to be confused with the serial number) is a small code printed on banknotes with information about where the banknote was printed. All printer codes have the form ‘X000X0’ — or in other words — a letter followed by 3 numbers, a letter and a final number." }}
	</p>
	<p>
		{{ .Get "The printer code can be a bit tricky to find. The following dropdown menus will show you where to find the printer code on each note." }}
	</p>
	<details>
		<summary>{{ .Get "2002 Series Printer Codes" }}</summary>
		<p>
			{{ .Get "All these images are taken from {Link:L}eurobilltracker.com{-:E}."
			(map "Link" "https://eurobilltracker.com") }}
		</p>
		{{ template "banknotes/codes/code-pos" (tuple .Printer   5 "2002") }}
		{{ template "banknotes/codes/code-pos" (tuple .Printer  10 "2002") }}
		{{ template "banknotes/codes/code-pos" (tuple .Printer  20 "2002") }}
		{{ template "banknotes/codes/code-pos" (tuple .Printer  50 "2002") }}
		{{ template "banknotes/codes/code-pos" (tuple .Printer 100 "2002") }}
		{{ template "banknotes/codes/code-pos" (tuple .Printer 200 "2002") }}
		{{ template "banknotes/codes/code-pos" (tuple .Printer 500 "2002") }}
	</details>
	<details>
		<summary>{{ .Get "Europa Series Printer Codes" }}</summary>
		{{ template "banknotes/codes/code-pos" (tuple .Printer   5 "europa") }}
		{{ template "banknotes/codes/code-pos" (tuple .Printer  10 "europa") }}
		{{ template "banknotes/codes/code-pos" (tuple .Printer  20 "europa") }}
		{{ template "banknotes/codes/code-pos" (tuple .Printer  50 "europa") }}
		{{ template "banknotes/codes/code-pos" (tuple .Printer 100 "europa") }}
		{{ template "banknotes/codes/code-pos" (tuple .Printer 200 "europa") }}
	</details>

	<p>
		{{ .Get "The first letter in the printer code identifies the specific printer at which the banknote was printed. The tables below will tell you which letters correspond to which printers. The final letter and number form a pair (such as ‘A2’ or ‘D6’) — this pair acts as a set of coordinates telling you where on the sheet of paper the banknote was located. During printing, banknotes are printed in a grid on a large sheet of paper which is then cut into individual banknotes. A note with the pair ‘A1’ will have been at the upper-left corner of the printing sheet, with ‘A2’ to its right and ‘B1’ below it." }}
	</p>

	<h2>{{ .Get "2002 Series" }}</h2>
	<p>
		{{ .Get "In the 2002 series, the first letter of the serial number can be used to identify the country that issued the banknote. The following table shows which countries map to which codes." }}
	</p>

	<table role="grid">
		<thead>
			<tr>
				<th>{{ .Get "Code" }}</th>
				<th>{{ .Get "Country" }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>D</td>
				<td>{{ .GetC "Estonia" "Place Name" }}</td>
			</tr>
			<tr>
				<td>E</td>
				<td>{{ .GetC "Slovakia" "Place Name" }}</td>
			</tr>
			<tr>
				<td>F</td>
				<td>{{ .GetC "Malta" "Place Name" }}</td>
			</tr>
			<tr>
				<td>G</td>
				<td>{{ .GetC "Cyprus" "Place Name" }}</td>
			</tr>
			<tr>
				<td>H</td>
				<td>{{ .GetC "Slovenia" "Place Name" }}</td>
			</tr>
			<tr>
				<td>L</td>
				<td>{{ .GetC "Finland" "Place Name" }}</td>
			</tr>
			<tr>
				<td>M</td>
				<td>{{ .GetC "Portugal" "Place Name" }}</td>
			</tr>
			<tr>
				<td>N</td>
				<td>{{ .GetC "Austria" "Place Name" }}</td>
			</tr>
			<tr>
				<td>P</td>
				<td>{{ .GetC "Netherlands" "Place Name" }}</td>
			</tr>
			<tr>
				<td>S</td>
				<td>{{ .GetC "Italy" "Place Name" }}</td>
			</tr>
			<tr>
				<td>T</td>
				<td>{{ .GetC "Ireland" "Place Name" }}</td>
			</tr>
			<tr>
				<td>U</td>
				<td>{{ .GetC "France" "Place Name" }}</td>
			</tr>
			<tr>
				<td>V</td>
				<td>{{ .GetC "Spain" "Place Name" }}</td>
			</tr>
			<tr>
				<td>X</td>
				<td>{{ .GetC "Germany" "Place Name" }}</td>
			</tr>
			<tr>
				<td>Y</td>
				<td>{{ .GetC "Greece" "Place Name" }}</td>
			</tr>
			<tr>
				<td>Z</td>
				<td>{{ .GetC "Belgium" "Place Name" }}</td>
			</tr>
		</tbody>
	</table>

	<p>
		{{ .Get "The first letter of the printer code can be used to identify the specific printer at which the banknote was printed. The printer and country codes do not need to line up; a banknote issued by a country will often be printed in another." }}
	</p>

	<table role="grid">
		<thead>
			<tr>
				<th>{{ .Get "Code" }}</th>
				<th>{{ .Get "Country" }}</th>
				<th>{{ .Get "Printer" }}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>D</td>
				<td>{{ .GetC "Finland" "Place Name" }}</td>
				<td>SETEC</td>
			</tr>
			<tr>
				<td>E</td>
				<td>{{ .GetC "France" "Place Name" }}</td>
				<td>Oberthur</td>
			</tr>
			<tr>
				<td>F</td>
				<td>{{ .GetC "Austria" "Place Name" }}</td>
				<td>
					<span lang="de">
						Österreichische Banknoten- und Sicherheitsdruck GmbH
					</span>
				</td>
			</tr>
			<tr>
				<td>G</td>
				<td>{{ .GetC "Netherlands" "Place Name" }}</td>
				<td><span lang="nl">Koninklijke Joh. Enschedé</span></td>
			</tr>
			<tr>
				<td>H</td>
				<td>{{ .GetC "United Kingdom" "Place Name" }}</td>
				<td>De La Rue</td>
			</tr>
			<tr>
				<td>J</td>
				<td>{{ .GetC "Italy" "Place Name" }}</td>
				<td>{{ .Get "Bank of Italy" }}</td>
			</tr>
			<tr>
				<td>K</td>
				<td>{{ .GetC "Ireland" "Place Name" }}</td>
				<td>{{ .Get "Central Bank of Ireland" }}</td>
			</tr>
			<tr>
				<td>L</td>
				<td>{{ .GetC "France" "Place Name" }}</td>
				<td>{{ .Get "Bank of France" }}</td>
			</tr>
			<tr>
				<td>M</td>
				<td>{{ .GetC "Spain" "Place Name" }}</td>
				<td>{{ .Get "Royal Mint of Spain" }}</td>
			</tr>
			<tr>
				<td>N</td>
				<td>{{ .GetC "Greece" "Place Name" }}</td>
				<td>{{ .Get "Bank of Greece" }}</td>
			</tr>
			<tr>
				<td>P</td>
				<td>{{ .GetC "Germany" "Place Name" }}</td>
				<td>Giesecke+Devrient GmbH</td>
			</tr>
			<tr>
				<td>R</td>
				<td>{{ .GetC "Germany" "Place Name" }}</td>
				<td><span lang="de">Bundesdruckerei GmbH</span></td>
			</tr>
			<tr>
				<td>T</td>
				<td>{{ .GetC "Belgium" "Place Name" }}</td>
				<td>{{ .Get "National Bank of Belgium" }}</td>
			</tr>
			<tr>
				<td>U</td>
				<td>{{ .GetC "Portugal" "Place Name" }}</td>
				<td>Valora S.A.</td>
			</tr>
		</tbody>
	</table>

	<h2>{{ .Get "Europa Series" }}</h2>
	<p>
		{{ .Get "In the Europa series the first letter of the serial number can be used to identify the printer that printed the banknote, just like the printer code. The following table shows which countries map to which codes." }}
	</p>
	<table role="grid">
		<thead>
			<tr>
				<th>{{ .Get "Code" }}</th>
				<th>{{ .Get "Country" }}</th>
				<th>{{ .Get "Printer" }}</th>
			</tr>
		</thead>
		<tr>
			<td>E</td>
			<td>{{ .GetC "France" "Place Name" }}</td>
			<td>Oberthur</td>
		</tr>
		<tr>
			<td>F</td>
			<td>{{ .GetC "Bulgaria" "Place Name" }}</td>
			<td>Oberthur Fiduciaire AD</td>
		</tr>
		<tr>
			<td>M</td>
			<td>{{ .GetC "Portugal" "Place Name" }}</td>
			<td>Valora S.A.</td>
		</tr>
		<tr>
			<td>N</td>
			<td>{{ .GetC "Austria" "Place Name" }}</td>
			<td>
				<span lang="de">
					Österreichische Banknoten- und Sicherheitsdruck GmbH
				</span>
			</td>
		</tr>
		<tr>
			<td>P</td>
			<td>{{ .GetC "Netherlands" "Place Name" }}</td>
			<td><span lang="nl">Koninklijke Joh. Enschedé</span></td>
		</tr>
		<tr>
			<td>R</td>
			<td>{{ .GetC "Germany" "Place Name" }}</td>
			<td><span lang="de">Bundesdruckerei GmbH</span></td>
		</tr>
		<tr>
			<td>S</td>
			<td>{{ .GetC "Italy" "Place Name" }}</td>
			<td>{{ .Get "Bank of Italy" }}</td>
		</tr>
		<tr>
			<td>T</td>
			<td>{{ .GetC "Ireland" "Place Name" }}</td>
			<td>{{ .Get "Central Bank of Ireland" }}</td>
		</tr>
		<tr>
			<td>U</td>
			<td>{{ .GetC "France" "Place Name" }}</td>
			<td>{{ .Get "Bank of France" }}</td>
		</tr>
		<tr>
			<td>V</td>
			<td>{{ .GetC "Spain" "Place Name" }}</td>
			<td>{{ .Get "Royal Mint of Spain" }}</td>
		</tr>
		<tr>
			<td>W</td>
			<td>{{ .GetC "Germany" "Place Name" }}</td>
			<td>Giesecke+Devrient GmbH {{ .Get "Leipzig" }}</td>
		</tr>
		<tr>
			<td>X</td>
			<td>{{ .GetC "Germany" "Place Name" }}</td>
			<td>Giesecke+Devrient GmbH {{ .Get "Munich" }}</td>
		</tr>
		<tr>
			<td>Y</td>
			<td>{{ .GetC "Greece" "Place Name" }}</td>
			<td>{{ .Get "Bank of Greece" }}</td>
		</tr>
		<tr>
			<td>Z</td>
			<td>{{ .GetC "Belgium" "Place Name" }}</td>
			<td>{{ .Get "National Bank of Belgium" }}</td>
		</tr>
	</table>
</main>
{{ end }}

{{ define "banknotes/codes/code-pos" }}
{{ $p := (index . 0) }}
{{ $d := (index . 1) }}
{{ $args := (map "N" $d) }}
<details>
	{{/* TRANSLATORS: As in ‘5 Euro Banknote’ */}}
	<summary>{{ $p.GetN "{N} Euro" "{N} Euro" $d $args }}</summary>
	<img
		class="big"
		src={{ printf "/codes/%s-%03d.jpg" (index . 2) $d }}
		alt={{ $p.GetN "Printer code on a {N} euro bill" "Printer code on a {N} euro bill" $d $args }}
	>
</details>
{{ end }}