{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .T "Dutch Euro Coin Designs" }}</h1>
</header>
<main>
	<div class="design-container">
		<img
			alt="Dutch 50 euro cent coin (Beatrix)"
			src="/designs/nl-050-beatrix.avif"
		/>
		<img
			alt="Dutch 50 euro cent coin (Willem-Alexander)"
			src="/designs/nl-050-willem-alexander.avif"
		/>
	</div>
	<div class="design-container">
		<img
			alt="Dutch 1 euro coin (Beatrix)"
			src="/designs/nl-100-beatrix.avif"
		/>
		<img
			alt="Dutch 1 euro coin (Willem-Alexander)"
			src="/designs/nl-100-willem-alexander.avif"
		/>
	</div>
	<p>
		{{ .T `
			From the years 1999–2013 all Dutch euro coins featured the portrait
			of Queen Beatrix of the Netherlands.  After her abdication from the
			throne in 2013 the designs of all denominations were changed to
			feature the portrait of the new King Willem-Alexander.  After her
			abdication the direction in which the monarchs portrait faced was
			flipped; a tradition dating back to the earliest coins of the
			Kingdom of the Netherlands.
		` }}
	</p>
	<p>
		<!-- TODO: Get a picture of the edge-inscription -->
		{{ .T `
			Coins featuring both monarchs contain text reading ‘BEATRIX
			KONINGIN DER NEDERLANDEN’ (‘BEATRIX QUEEN OF THE
			NETHERLANDS’) and ‘Willem-Alexander Koning der Nederlanden’
			(‘Willem-Alexander King of the Netherlands’) respectively.
			The €2 coins also feature an edge-inscription reading
			‘%sGOD ⋆ ZIJ ⋆ MET ⋆ ONS ⋆%s’ (‘GOD ⋆ IS ⋆ WITH ⋆ US ⋆’).
		` `<span lang="nl">` `</span>` | safe }}
	</p>
	<p>
		{{ .T `
			The €1 and €2 coins featuring King Willem-Alexander were minted
			with a much lower %srelief%s than most euro coins of the same
			denomination.  As a result it is not uncommon for these coins to
			appear worn after little use in circulation.`
			`<a href="/jargon#relief">` `</a>` | safe
		}}
	</p>
</main>
{{ end }}
