{{ define "header" }}
{{ template "header-navbar" . }}

<style>
	.mintage-table {
		white-space: nowrap;

        tr :is(th, td):first-child {
            position: sticky;
            left: 0;
        }
	}

	label[for="country-dd"] { display: none; }
	label[for="year-dd"]    { display: none; }

	form {
		&:has(#country:checked) {
			label[for="country-dd"] { display: unset; }
		}
		&:has(#year:checked) {
			label[for="year-dd"] { display: unset; }
		}
	}
</style>
{{ end }}

{{ define "content" }}
<header class="container">
	{{ template "navbar" . }}
	<h1>{{ .Get "Euro Coin Mintages" }}</h1>
</header>
<main class="container">
	<p>
		{{ .Get "Here you’ll be able to view all the known mintages for all coins. You’ll also be able to filter on country, denomination, etc. If you have any mintage data that’s missing from our site, feel free to contact us." }}
	</p>
	<hr>
	{{ if eq .Code "nl" }}
	<h2>{{ .Get "Additional Notes" }}</h2>
	<ul>
		<li>
			{{ .Get "Most coins from the years 2003–2016 are listed as NIFC coins while other popular sources such as Numista claim they were minted for circulation. For more information on why others are wrong, {Link:l}click here{-:E}."
				(map "Link" "#TODO") }}
		</li>
	</ul>
	{{ end }}
	<form>
		<div class="grid">
			<fieldset>
				<legend>{{ .GetC "Filter Method" "Header/Label" }}</legend>
				{{ template "mintages/filter-radio"
					(tuple .FilterBy "country" (.GetC "Country" "Header/Label")) }}
				{{ template "mintages/filter-radio"
					(tuple .FilterBy "year" (.GetC "Year" "Header/Label")) }}
			</fieldset>

			<label for="country-dd">
				{{ .GetC "Country" "Header/Label" }}
				<select id="country-dd" name="country">
					{{ $code := .Code }}
					{{ range .Countries }}
						<option
							value="{{ .Code }}"
							{{ if eq .Code $code }}
								selected
							{{ end }}
						>
							{{ .Name }}
						</option>
					{{ end }}
				</select>
			</label>

			<label for="year-dd">
				{{ .GetC "Year" "Header/Label" }}
				<select id="year-dd" name="year">
					{{ $year := .Year }}
					{{ range years }}
						<option
							value="{{ . }}"
							{{ if eq . $year }}
								selected
							{{ end }}
						>
							{{ . }}
						</option>
					{{ end }}
				</select>
			</label>

			<fieldset>
				{{ template "mintages/coin-type-radio"
				   (tuple .Type "circ" (.Get "Circulation Coins")) }}
				{{ template "mintages/coin-type-radio"
				   (tuple .Type "nifc" (.Get "NIFC / BU Sets")) }}
				{{ template "mintages/coin-type-radio"
				   (tuple .Type "proof" (.Get "Proof Coins")) }}
			</fieldset>
		</div>
		<button type="submit">{{ .GetC "Filter" "Header/Label" }}</button>
	</form>

	{{ if and (eq .FilterBy "country")
	          (gt (len .CountryMintages.Standard) 0) }}
	<figure>
		<figcaption>{{ .Get "Standard Issue Coins" }}</figcaption>
		<div class="overflow-auto">
			<table class="mintage-table striped" role="grid">
				<thead>
					<th>{{ .GetC "Year" "Header/Label" }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.01 }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.02 }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.05 }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.10 }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.20 }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.50 }}</th>
					<th data-numeric>{{ .Printer.Ftom 1.00 }}</th>
					<th data-numeric>{{ .Printer.Ftom 2.00 }}</th>
				</thead>
				<tbody>
					{{ $p := .Printer }}
					{{ range .CountryMintages.Standard }}
						<tr>
							<th scope="row">
								{{- .Year -}}
								{{- if .Mintmark.Valid -}}
									&nbsp;<sub><small>{{ .Mintmark.V }}</small></sub>
								{{- end -}}
							</th>
							{{ range .Mintages }}
							{{ template "mintages/mintage-cell" (tuple . $p) }}
							{{ end }}
						</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</figure>

	{{ else if and (eq .FilterBy "year")
	               (gt (len .YearMintages.Standard) 0) }}

	<figure>
		<figcaption>{{ .Get "Standard Issue Coins" }}</figcaption>
		<div class="overflow-auto">
			<table class="mintage-table striped" role="grid">
				<thead>
					<th>{{ .GetC "Country" "Header/Label" }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.01 }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.02 }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.05 }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.10 }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.20 }}</th>
					<th data-numeric>{{ .Printer.Ftom 0.50 }}</th>
					<th data-numeric>{{ .Printer.Ftom 1.00 }}</th>
					<th data-numeric>{{ .Printer.Ftom 2.00 }}</th>
				</thead>
				<tbody>
					{{ $p := .Printer }}
					{{ range .YearMintages.Standard }}
					<tr>
						<th scope="row">
							{{- .Country -}}
							{{- if .Mintmark.Valid -}}
							&nbsp;<sub><small>{{ .Mintmark.V }}</small></sub>
							{{- end -}}
						</th>
						{{ range .Mintages }}
						{{ template "mintages/mintage-cell" (tuple . $p) }}
						{{ end }}
					</tr>
					{{ end }}
				</tbody>
			</table>
		</div>
	</figure>
	{{ end }}

	{{ if eq .FilterBy "country" }}
		{{ if ne (len .CountryMintages.Commemorative) 0 }}
		<figure>
			<figcaption>{{ .Get "Commemorative Coins" }}</figcaption>
			<table class="mintage-table striped" role="grid">
				<thead>
					<th>{{ .GetC "Year" "Header/Label" }}</th>
					<th>{{ .GetC "Commemorated Topic" "Header/Label" }}</th>
					<th data-numeric>{{ .GetC "Mintage" "Header/Label" }}</th>
				</thead>
				<tbody>
					{{ $p := .Printer }}
					{{ range .CountryMintages.Commemorative }}
					<tr>
						<th scope="row">
							{{- .Year -}}
							{{- if .Mintmark.Valid -}}
							&nbsp;<sub><small>{{ .Mintmark.V }}</small></sub>
							{{- end -}}
						</th>
						<td>{{ $p.GetC .Name "CC Name" }}</td>
						{{ template "mintages/mintage-cell" (tuple .Mintage $p) }}
					</tr>
					{{ end }}
				</tbody>
			</table>
		</figure>
		{{ end }}

	{{ else if eq .FilterBy "year" }}

		{{ if ne (len .YearMintages.Commemorative) 0 }}
		<figure>
			<figcaption>{{ .Get "Commemorative Coins" }}</figcaption>
			<table class="mintage-table striped" role="grid">
				<thead>
					<th>{{ .GetC "Country" "Header/Label" }}</th>
					<th>{{ .GetC "Commemorated Topic" "Header/Label" }}</th>
					<th data-numeric>{{ .GetC "Mintage" "Header/Label" }}</th>
				</thead>
				<tbody>
					{{ $p := .Printer }}
					{{ range .YearMintages.Commemorative }}
					<tr>
						<th scope="row">
							{{- .Country -}}
							{{- if .Mintmark.Valid -}}
							&nbsp;<sub><small>{{ .Mintmark.V }}</small></sub>
							{{- end -}}
						</th>
						<!-- TODO: Translate commemorative names -->
						<td>{{ .Name }}</td>
						{{ template "mintages/mintage-cell" (tuple .Mintage $p) }}
					</tr>
					{{ end }}
				</tbody>
			</table>
		</figure>
		{{ end }}
	{{ end }}
</main>
{{ end }}

{{ define "mintages/coin-type-radio" }}
<label for="{{ index . 1 }}">
	<input
		id="{{ index . 1 }}"
		name="type"
		type="radio"
		value="{{ index . 1 }}"
		{{ if eq (index . 0) (index . 1) }}
		checked
		{{ end }}
	/>
	{{ index . 2 }}
</label>
{{ end }}

{{ define "mintages/filter-radio" }}
{{ $v := index . 1 }}
<label for="{{ $v }}">
	<input
		name="filter-by"
		type="radio"
		value="{{ $v }}"
		id="{{ $v }}"
		{{ if eq (index . 0) $v }}
		checked
		{{ end }}
	>
	{{ index . 2 }}
</label>
{{ end }}

{{ define "mintages/mintage-cell" }}
{{ $v := index . 0 }}
{{ $p := index . 1 }}
{{ if not $v.Valid }}
	<td data-numeric>{{ $p.Get "Unknown" }}</td>
{{ else if eq $v.V 0 }}
	<td data-numeric>—</td>
{{ else }}
	<td data-numeric>{{ $p.Itoa $v.V }}</td>
{{ end }}
{{ end }}