{{ define "content" }}
<header>
	{{ template "navbar" . }}
    <h1>{{ .Get "Belgian Euro Coin Designs" }}</h1>
</header>
<main>
    <div class="design-container">
        <img
			alt="{{ .Get `Belgian €1 coin (King Albert; Series 1)` }}"
			src="/designs/be-100-albert-1.avif"
		>
        <img
			alt="{{ .Get `Belgian €1 coin (King Albert; Series 2)` }}"
			src="/designs/be-100-albert-2.avif"
		>
        <img
			alt="{{ .Get `Belgian €1 coin (King Philippe)` }}"
			src="/designs/be-100-philippe.avif"
		>
    </div>
	<p>
		{{ .Get "Since 1999 Belgium has released three series of euro coins, with each series having a single design repeated on all denominations. Starting in 1999 the Belgian euro coins featured the portrait of King Albert II with the {Link:L}royal monogram{-:E} in the outer ring of the coins."
		(map "Link" "https://www.wikipedia.org/wiki/Royal_cypher") }}
	</p>
	<p>
		{{ .Get "In 2008 a second series of coins was released featuring a slightly modified design in which the royal monogram was moved to the inner portion of the coin along with the year of mintage in order to comply with the European Commission’s guidelines. The country code ‘BE’ was also added to the design underneath the royal monogram." }}
	</p>
	<p>
		{{ .Get "After his accession to the throne, Belgium began a third series of coins in 2014 featuring the portrait of King Philippe. As is customary with coins bearing the portraits of monarchs, the direction in which the portrait faces was flipped to face right instead of left." }}
	</p>
</main>
{{ end }}