{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .Get "Austrian Euro Coin Designs" }}</h1>
</header>
<main>
	<p>
		{{ .Get "The Austrian euro coins can be grouped into three different themes. The bronze coins feature Austrian flowers, the gold coins feature Austrian architecture, and the bimetalic coins feature famous Austrian people. All coins also feature an Austrian flag as well as the coins denomination. These coins together with the {Link:l}Greek euro coins{-:E} are the only coins that feature the denomination on both the common and national sides of the coin."
		(map "Link" "gr") }}
	</p>

	<div class="design-container">
		<img alt="{{ .Get `Austrian €0.01 coin` }}" src="/designs/at-001-1.avif">
		<img alt="{{ .Get `Austrian €0.02 coin` }}" src="/designs/at-002-1.avif">
		<img alt="{{ .Get `Austrian €0.05 coin` }}" src="/designs/at-005-1.avif">
	</div>
	<p>
		{{ .Get "The bronze coins feature the Alpine gentian, edelweiss and primrose respectively, and were chosen to symbolize the role that Austria played in the development of EU environmental policy." }}
	</p>
	<div class="design-container">
		<img alt="{{ .Get `Austrian €0.10 coin` }}" src="/designs/at-010-1.avif">
		<img alt="{{ .Get `Austrian €0.20 coin` }}" src="/designs/at-020-1.avif">
		<img alt="{{ .Get `Austrian €0.50 coin` }}" src="/designs/at-050-1.avif">
	</div>
	<p>
		{{ .Get "The €0.10 coin features St. Stephen’s Cathedral. It symbolises the Viennese Gothic architectural style dating to around the year 1160. The €0.20 coin features Belvedere Palace. This is an example of Baroque architecture and symbolises the national freedom and sovereignty of Austria. The final gold coin — the €0.50 coin — features the Secession Building: an exhibition hall in the Art Nouveau style." }}
	</p>
	<div class="design-container">
		<img alt="{{ .Get `Austrian €1 coin` }}" src="/designs/at-100-1.avif">
		<img alt="{{ .Get `Austrian €2 coin` }}" src="/designs/at-200-1.avif">
	</div>
	<p>
		{{ .Get "The two bimetallic coins feature the busts of the musical composer Wolfgang Amadeus Mozarts on the €1 coin, and the Austrian pacifist and Nobel Peace Prize winner Bertha von Suttner." }}
	</p>
</main>
{{ end }}
