{{ define "header" }}
{{ template "header-navbar" . }}
{{ end }}

{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .Get "Andorran Euro Coin Designs" }}</h1>
</header>
<main>
	<div class="design-container">
		<img alt="{{ .Get `Andorran €0.01 coin` }}" src="/designs/ad-001-1.avif" />
		<img alt="{{ .Get `Andorran €0.50 coin` }}" src="/designs/ad-050-1.avif" />
	</div>
	<div class="design-container">
		<img alt="{{ .Get `Andorran €1 coin` }}" src="/designs/ad-100-1.avif" />
		<img alt="{{ .Get `Andorran €2 coin` }}" src="/designs/ad-200-1.avif" />
	</div>
	<p>
		{{ .Get "On March of 2013 Andorra held a public design competition for all denominations except for the €2 denomination which the government pre-decided would bear the coat of arms of Andorra. Each set of denominations had a theme that participants had to center their designs around. These themes were:" }}
	</p>
	<dl>
		<dt>{{ .Get "€0.01, €0.02 and €0.05" }}</dt>
		<dd>{{ .Get "Andorran landscapes, nature, fauna and flora" }}</dd>
		<dt>{{ .Get "€0.10, €0.20 and €0.50" }}</dt>
		<dd>{{ .Get "Andorra’s Romanesque art" }}</dd>
		<dt>{{ .Printer.Ftom 1 }}</dt>
		<dd>{{ .Get "Casa de la Vall" }}</dd>
	</dl>
	<!-- TODO: Can we find the other submissions? -->
	<p>
		{{ .Get "The results of the design contest with a few modifications are what became the coins that entered circulation in 2014. While each set of denominations has its own design, all four designs prominently feature the name of the Principality (‘ANDORRA’) along the outer portion of the design with the year of issue written underneath." }}
	</p>
	<p>
		{{ .Get "The Andorran 1c, 2c and 5c coins all feature the same design of a Pyrenean chamois in the center of the coin with a golden eagle flying above. Both animals are native to Andorra as well as the surrounding regions of France and Spain." }}
	</p>

	<div class="design-container">
		<figure>
			<img
				alt="{{ .Get `Rejected Andorran design` }}"
				src="/designs/ad-rejected.jpg"
				style="width: unset;"
			/>
			<figcaption>{{ .Get "The rejected Andorran design" }}</figcaption>
		</figure>
	</div>

	<p>
		{{ .Get "The Andorran 10c, 20c and 50c coins feature the Romanesque church of Santa Coloma. The church is the oldest in Andorra, dating back to the 9th century and is a UNESCO World Heritage site. Originally these coins were planned to depict an image of Christ, but that plan failed to go through after objections from the European Commission on grounds of religious neutrality on August 2013." }}
	</p>
	<p>
		{{ .Get "The €1 coin features the Casa de la Vall: the former headquarters of the General Council of Andorra. It was constructed in 1580 as a manor and tower defense by the Busquets family." }}
	</p>
	<p>
		{{ .Get "Finally, the €2 coin features the {Link:L}coat of arms of Andorra{-:E}."
		(map "Link" "https://en.wikipedia.org/wiki/Coat_of_arms_of_Andorra") }}
	</p>
</main>
{{ end }}