{{ define "header" }}
<style>
	.country-grid {
		--button-min-width: 20ch;

		row-gap: var(--spacing);

		a {
			display: flex;
			padding-left: 0;
			padding-block: 1ch;

			> :first-child {
				font-weight: bold;
				width: calc(var(--form-element-spacing-horizontal) * 2 + 2ch);
			}
		}
	}
</style>
{{ end }}

{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .Get "Euro Coin Designs" }}</h1>
</header>
<main>
	<p>
		{{ .Get "Here you’ll be able to view all the coin designs for each country in the Eurozone. This section of the site doesn’t include minor varieties such as different mintmarks or errors; those are on the {Link:l}varieties{-:E} page."
		(map "Link" "/coins/varieties") }}
	</p>
	<hr />
	<div class="button-grid country-grid">
		{{ range .Countries }}
		<a
			class="outline"
			data-code="{{ toUpper .Code }}"
			role="button"
			href="/coins/designs/{{ .Code }}"
		>
			<span>{{ .Code | toUpper }}</span>
			<span>{{ .Name }}</span>
		</a>
		{{ end }}
	</div>
</main>
{{ end }}