{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .Get "Estonian Euro Coin Designs" }}</h1>
</header>
<main>
	<p>
		{{ .Get "The Estonian euro coins feature the same design across all eight denominations. The country’s outline is prominently displayed above the country’s name in Estonian (‘{EstonianStart:r}EESTI{EstonianEnd:E}’)."
		(map "EstonianStart" `<span lang="et"><em>` "EstonianEnd" "em,span") }}
	</p>
	<div class="design-container">
		<img
			alt="{{ .Get `Estonian €1 coin` }}"
			src="/designs/ee-100-1.avif"
		>
	</div>
</main>
{{ end }}