{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .T "Croatian Euro Coin Designs" }}</h1>
</header>
<main>
	<div class="design-container">
		<img alt="Croatian 1 euro cent coin"  src="/designs/hr-001.avif" />
		<img alt="Croatian 50 euro cent coin" src="/designs/hr-050.avif" />
	</div>
	<div class="design-container">
		<img alt="Croatian 1 euro coin" src="/designs/hr-100.avif" />
		<img alt="Croatian 2 euro coin" src="/designs/hr-200.avif" />
	</div>
	<p>
		{{ .T `
			The Croatian euro coins feature four different themes, with
			each design featuring the Croatian checkerboard and the
			countries name in Croatian (‘%sHRVATSKA%s’).
		` `<span lang="hr">` `</span>` }}
	</p>
	<p>
		{{ .T `
			The 1-, 2-, and 5 euro cent coins were designed by Maja
			Škripelj and feature a motif of the letters ‘HR’ in the
			%sGlagolitic script%s — an old Slavic script that saw use in
			Croatia up until the 19th century — with ‘HR’ representing
			Croatia’s country code.`
			`<a
				target="_blank"
				href="https://www.wikipedia.org/wiki/Glagolitic_script"
			>`
			`</a>` | safe
		}}
	</p>
	<p>
		{{ .T `
			The 10-, 20-, and 50 euro cent coins were designed by Ivan
			Domagoj Račić and feature the portrait of the inventor and
			engineer %sNikola Tesla%s.  The design of these coins caused
			controversy when they were first announced with the National
			Bank of Serbia claiming that it would be an appropriation of
			the cultural and scientific heritage of the Serbian people to
			feature the portrait of someone who ‘declared himself to be
			Serbian by origin’.`
			`<a
				 target="_blank"
				 href="https://www.wikipedia.org/wiki/Nikola_Tesla"
			>`
			`</a>` | safe
		}}
	</p>
	<p>
		{{ .T `
			The 1 euro coin was designed by Jagor Šunde, David Čemeljić
			and Fran Zekan and features a marten.  The marten is the
			semi-official national animal of Croatia and the Kuna —
			their pre-Euro currency — was named after the marten (‘%skuna
			zlatica%s’ in Croatian).
		` `<span lang="hr">` `</span>` | safe }}
	</p>
	<p>
		<!-- TODO: Include a photo of the edge inscription -->
		{{ .T `
			The 2 euro coin was designed by Ivan Šivak and features the
			map of Croatia.  The coin also has an edge-inscription that
			reads ‘%sO LIJEPA O DRAGA O SLATKA SLOBODO%s’ (‘OH BEAUTIFUL,
			OH DEAR, OH SWEET FREEDOM’) which is a line from the play
			%sDubravka%s by Ivan Gundulić.
		` `<span lang="hr">` `</span>`
		`<a
			 target="_blank"
			 href="https://www.wikipedia.org/wiki/Dubravka_(drama)"
			 lang="hr"
		>`
		`</a>` | safe }}
	</p>
</main>
{{ end }}
