{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .Get "Coin Roll Hunting" }}</h1>
</header>
<main>
	<h2>{{ .Get "What is Coin Roll Hunting?" }}</h2>
	<p>
		{{ .Get "Coin roll hunting is a popular method of coin collecting in which you withdraw cash from your bank in the form of coins and then search through those coins to find new additions to your collection. Once you’ve searched through all your coins, you will typically deposit your left over coins at the bank and withdraw new coins." }}
	</p>

	<p>
		{{ .Get "This type of coin collecting is often called ‘coin roll hunting’ (abbreviated to ‘CRH’) due to the fact that banks will often provide you with coins in the form of paper-wrapped rolls. You may however find that your coins come in plastic bags instead (common in countries like Ireland)." }}
	</p>

	<p>
		{{ .Get "Depending on your bank and branch, the process of obtaining coins may differ. Some banks require you speak to a teller while others have coin machines. Some banks may also require that you are a customer or even that you have a business account. If you aren’t sure about if you can get coins we suggest you contact your bank, although further down this page we also have additional information about the withdrawal of coins in various countries and major banks." }}
	</p>

	<h2>{{ .Get "Getting Started" }}</h2>
	<p>
		{{ .Get "To get started with coin roll hunting you should first contact your bank or check their website to find details regarding coin withdrawal. You will then typically need to go to the bank to pick up your coins. Depending on your bank you may be able to withdrawal coins from a machine. Most banks will charge you a small fee per roll and/or transaction." }}
	</p>

	<p>
		{{ .Get "It is also important to find details regarding the deposit of coins. Depositing coins often also requires the payment of a fee — one which is typically more expensive than the withdrawal fees. If depositing your coins is too expensive you can always exchange your left over coins at shops for banknotes. It is often cheaper (or even free) to deposit banknotes." }}
	</p>

	<p>
		{{ .Get "In some countries such as Austria it is even common to be able to withdraw new coins from your account using other coins." }}
	</p>

	<h2>{{ .Get "Country-Specific Details" }}</h2>
	<p>
		{{ .Get "Below you can find country-specific details we have regarding obtaining coin rolls. We lack a lot of information for many of the countries, so if you have any additional information such as your banks fees, the availability of coin roll machines, etc. feel free to contact us! You can find our contact information {Link:l}here{-:E}."
		(map "Link" "/about") }}
	</p>
	<p>
		{{ .Get "Be aware of the fact that the information below may be outdated or inaccurate. Many of the details are self-reported." }}
	</p>

	{{ $p := .Printer }}
	{{ range .Countries }}
	<details id="{{ .Code }}">
		<summary>{{ $p.Get .Name }}</summary>
		{{ if eq .Code "ad" }}
		<p>
			{{ $p.Get "Coin rolls can be obtained from Andbank, Creand and MoraBanc. All three of these banks require that you are a customer to get rolls, however there have been reports of individuals managing to get rolls without any fees and without being a customer by simply asking kindly at the bank." }}
		</p>
		{{ else if eq .Code "at" }}
		{{/* TRANSLATORS: The OeNB prefers ‘Oe’ over ‘Ö’ */}}
		{{ makeHeaderWithTranslations "h3"
			($p.Get "Austrian National Bank")
			(tuple "de" "Oesterreichische Nationalbank") }}
		<p>
			{{ $p.Get "The Austrian National Bank does not distribute circulated rolls but sells rolls of commemorative coins at face value on release as well as uncirculated rolls for all denominations." }}
		</p>

		{{ makeHeaderWithTranslations "h3"
			($p.Get "Bank Austria")
			(tuple "de" "Bank Austria") }}
		<p>
			{{ $link := ifElse (eq $p.Language "de")
				"https://filialen.bankaustria.at/de"
				"https://filialen.bankaustria.at/en" }}
			{{/* TRANSLATORS: On the German page the filter is called ‘Münzrollengeber’. For other languages we link to the English site, so mention the English filter name surrounded by ‘{EnglishStart:r}’ and ‘{EnglishEnd:E}’, and also translate it in parenthesis to your language. For example the Swedish page might say: ‘”{EnglishStart:r}coin roll dispenser{EnglishEnd:E}” (svenska: ”myntrullsautomat”)’ */}}
			{{ $p.Get "There is a fee of {€0,20:m} per roll which can be purchased with cash at machines. These machines are available to everyone but not in all branches. Look for the ‘coin roll dispenser’ filter option {Link:L}here{-:E}."
			(map "€0,20" 0.20 "Link" $link "EnglishStart"
				`<span lang="en"><em>` "EnglishEnd" "em,span") | safe }}
		</p>

		{{ makeHeaderWithTranslations "h3"
			($p.Get "Erste Bank")
			(tuple "de" "Erste Bank") }}
		<p>
			{{ $p.Get "There is a fee of {€0,10:m} per roll. You must be a customer to use machines to get rolls. Rolls have no fees when purchased at counters, but you will probably be redirected to the machines if they work. You must present an Erste Bank card to buy rolls from machines, however payment in cash is still accepted."
				(map "€0,10" 0.10) }}
		</p>

		<p>
			{{ $p.Get "Depositing coins is free up to {€100:m} a day, at which point you pay 1% for any additionally deposited coins. You must also be a customer. Depositing coins is free for all Erste Bank customers at Dornbirner Sparkasse with no limit."
			(map "€100" 100) }}
		</p>

		{{ makeHeaderWithTranslations "h3"
			($p.Get "Raiffeisen Bank")
			(tuple "de" "Raiffeisen Bank") }}
		<p>
			{{ $p.Get "There is a fee of {€1:m} per roll if you aren’t a customer and {€0,30:m} otherwise. Coin deposits are free for customers."
			(map "€1" 1 "€0,30" 0.30) }}
		</p>

		{{/*
			{{ makeHeaderWithTranslations "h3"
				($p.Get "Volksbank")
				(tuple "de" "Volksbank") }}
		*/}}

		{{ else if eq .Code "be" }}

		{{/* TRANSLATORS: Name of a bank */}}
		{{ makeHeaderWithTranslations "h3"
			($p.Get "Argenta")
			(tuple "" "Argenta") }}
		<p>
			{{ $p.Get "There is a {€1,50:m} fee per transaction with no limit on the number of rolls you may take."
			(map "€1,50" 1.50) }}
		</p>

		{{ makeHeaderWithTranslations "h3"
			($p.Get "National Bank of Belgium")
			(tuple "nl" "Nationale Bank van België")
			(tuple "fr" "Banque nationale de Belgique")
			(tuple "de" "Belgische Nationalbank") }}
		<p>
			{{ $p.Get "You can visit the National Bank of Belgium in Brussels as an EU citizen. You can order coin rolls for no fee up to {€2000:m} in value. They seem to distribute only uncirculated coins and no commemoratives."
				(map "€2000" 2000) }}
		</p>

		{{ makeHeaderWithTranslations "h3"
			($p.Get "KBC Bank")
			(tuple "" "KBC Bank") }}
		<p>
			{{ $p.Get "Rolls can be obtained with no fee by customers only" }}
		</p>

		{{/* TRANSLATORS: Name of a bank */}}
		{{ makeHeaderWithTranslations "h3"
			($p.Get "Belfius")
			(tuple "" "Belfius") }}
		<p>
			{{ $p.Get "Rolls can be obtained with no fee when you order through their online platform." }}
		</p>

		{{ else if eq .Code "cy" }}

		{{ makeHeaderWithTranslations "h3"
			($p.Get "Bank of Cyprus")
			(tuple "el" "Τράπεζα Κύπρου")
			(tuple "tr" "Kıbrıs Bankası") }}
		<p>
			{{ $p.Get `
				At the Bank of Cyprus it is possible to buy bags of coins
				without being a customer, and without paying any additional
				fees.  Depending on the branch you visit you may have coin roll
				machine available.  Do note that the bags provided by the Bank
				of Cyprus are around twice as large as usual with %s bags
				containing 50 coins and the other denomination bags containing
				100 coins.`
				($p.M 2.00)
			}}
		</p>

		{{ else if eq .Code "de" }}

		<p>
			{{ $p.Get `
				Coin roll availability may vary across banks and branches, as
				well as the price.  You must be a customer to purchase coin
				rolls unless specified otherwise.
			` }}
		</p>

		<h3>{{ $p.Get "German Federal Bank (Deutsche Bundesbank)" }}</h3>
		<p>
			{{ $p.Get `
				You can obtain regular- and commemorative coins for face value
				including 5-, 10-, and 20 euro coins.  You do not need to be a
				customer although depending on your branch you may need to make
				an appointment.  The purchase of coins can only be done with
				cash.
			` }}
		</p>

		<h3>Deutsche Post</h3>
		<p>
			{{ $p.Get `
				Hand-rolled coin rolls can be obtained with no additional fees.
			` }}
		</p>

		<h3>Sparkasse</h3>
		<p>
			{{ $p.Get `
				Coin rolls can be obtained for a fee of %s–%s per roll.  The
				amount varies per branch.`
				($p.M 0.50) ($p.M 1.50)
			}}
		</p>

		<h3>Volksbank</h3>
		<p>
			{{ $p.Get `
				Coin rolls can be obtained for a fee of %s per roll.`
				($p.M 0.25)
			}}
		</p>
		{{ else if eq .Code "ee" }}
		<p>
			{{ $p.Get `
				Obtaining coin rolls in Estonia is typically quite difficult,
				and often expensive.  You also often need to make an
				appointment in advance.
			` }}
		</p>

		<h3>{{ $p.Get "Central Bank of Estonia Museum" }}</h3>
		<p>
			{{ $p.Get `
				You can purchase commemorative coins (even those released years
				ago) at face value.  It is also an interesting museum to visit
				in general.
			` }}
		</p>
		{{ else if eq .Code "es" }}
		<h3>Banco Santander</h3>
		<p>{{ $p.Get "Coin rolls are free but you must be a customer." }}</p>

		<h3>{{ $p.Get "Bank of Spain" }}</h3>
		<p>
			{{ $p.Get `
				You can purchase individual coins and commemorative coin rolls
				(even those of other countries).  You can watch %shere%s to see
				how to do it.`
				`<a
					href="https://youtu.be/QRFuD6olH80?t=135"
					target="_blank"
				>`
				`</a>` | safe
			}}
		</p>

		<h3>BBVA</h3>
		<dl>
			<dt>Alicante</dt>
			<dd>
				{{ $p.Get `
					Coin rolls have a fee of %s for 5 rolls.  This seems to
					vary by region.`
					($p.M 2.00)
				}}
			</dd>
			<dt>Madrid</dt>
			<dd>{{ $p.Get "Coin rolls have no fees." }}</dd>
		</dl>

		<h3>{{ $p.Get "La Caixa" }}</h3>
		<p>
			{{ $p.Get `
				Coin rolls have no fees and can be purchased with cash.  You do
				not need to be a customer, although this needs to be
				re-verified.
			` }}
		</p>
		{{ else if eq .Code "fi" }}
		<p>
			{{ $p.Get `
				Finland has no coin roll machines, but you can find vending
				machines or coin exchange machines (albeit they are rare).
			` }}
		</p>

		<h3>Aktia</h3>
		<p>{{ $p.Get "Coin rolls can be obtained with no fees." }}</p>

		<h3>{{ $p.Get "Bank of Finland" }}</h3>
		<p>
			{{ $p.Get `
				It is probably not possible to obtain coin rolls, but this is
				not confirmed.
			` }}
		</p>
		{{ else if eq .Code "fr" }}
		<p>
			{{ $p.Get `
				Coin roll machines are uncommon, only some banks have them and
				you need to be a customer.  You may also need to order them in
				advance.
			` }}
		</p>

		<h3>Caisse d’Épargne</h3>
		<p>
			{{ $p.Get `
				Coin rolls can be obtained with no fee.  You must be a
				customer.
			` }}
		</p>

		<h3>CIC {{ $p.Get "and" }} Crédit Mutuel</h3>
		<p>
			{{ $p.Get `
				Free coin rolls if you are a customer or %s per roll if you are
				not a customer.  There are coin roll machines.`
				($p.M 1.00)
			}}
		</p>

		<h3>Crédit Agricole</h3>
		<p>
			{{ $p.Get `
				Coin rolls can be obtained with no fee.  You must be a
				customer.
			` }}
		</p>

		<h3>Le Crédit Lyonnais (LCL)</h3>
		<p>
			{{ $p.Get `
				There are coin roll machines but it is not yet known if you
				need to be a customer or if there are fees.
			` }}
		</p>
		{{ else if eq .Code "gr" }}
		<h3>{{ $p.Get "Bank of Greece (Τράπεζα της Ελλάδος)" }}</h3>
		<p>
			{{ $p.Get `
				Fee-less coin rolls for everyone (you will need to show ID).
				The latest commemorative coins are also sold for face value.
			` }}
		</p>

		<h3>Piraeus Bank</h3>
		<p>
			{{ $p.Get `
				Fee-less coin bags for everyone (no ID necessary).  Smaller
				denominations are often not given out, and the coin bags you
				recieve are very large (there are reports of %s bags containing
				250 coins).`
				($p.M 1.00)
			}}
		</p>
		{{ else if eq .Code "ie" }}
		<p>
			{{ $p.Get `
				In general, coin rolls are available at banks with a fee of %s
				per roll; rolls could potentially have no fee if you only need
				a few.`
				($p.M 1.00)
			}}
		</p>
		{{ else if eq .Code "it" }}
		<h3>Banca Cambiano</h3>
		<p>
			{{ $p.Get `
				There are coin roll machines but it is unknown if you need to
				be a customer or if there are additional fees.
			` }}
		</p>

		<h3>{{ $p.Get "Bank of Italy" }}</h3>
		<p>
			{{ $p.Get "Coin rolls are available to everyone." }}
		</p>
		{{ else if eq .Code "lt" }}
		<h3>ExchangeLT</h3>
		<p>{{ $p.Get "Works, but with very high fees (5%% of cost)." }}</p>

		<h3>Top Exchange</h3>
		<p>
			{{ $p.Get "Fee of %s per roll of 2 euro coins." ($p.M 2.00) }}
		</p>

		<h3>Lietuvos Bankas</h3>
		<p>
			{{ $p.Get `
				As far as we are aware, Lietuvos Bankas only distributes coin
				rolls to businesses.
			` }}
		</p>

		<p>
			{{ $p.Get `
				It may be worth checking out payout machines to exchange
				banknotes into coins.
			` }}
		</p>
		{{ else if eq .Code "lu" }}
		<h3>
			{{ $p.Get "Luxembourgish Central Bank (Banque Centrale du Luxembourg)" }}
		</h3>
		<p>
			{{ $p.Get `
				We currently have no information regarding regular coins,
				however their webshop sells commemorative coins (for a high
				premium, but better than most resellers).  Commemorative coins
				are also available for purchase in-person.
			` }}
		</p>

		<h3>Dexia-Bank</h3>
		<p>
			{{ $p.Get `
				You should be able to get coin rolls with no additional fees.
			` }}
		</p>
		{{ else if eq .Code "lv" }}
		<p>
			{{ $p.Get `
				In general coin rolls are sold with a fee of %s per roll, but
				we’re lacking a lot of information.`
				($p.M 0.60)
			}}
		</p>
		{{ else if eq .Code "mt" }}
		<h3>{{ $p.Get "Bank of Valletta and HSBC Bank Malta" }}</h3>
		<p>
			{{ $p.Get `
				You can get rolls for a fee of %s per roll.  You must order
				coin rolls through their online platform, and you must be a
				customer.`
				($p.M 0.30)
			}}
		</p>
		{{ else if eq .Code "nl" }}
		<p>
			{{ $p.Get `
				Banks in the Netherlands do not carry cash, and as such it’s
				not possible to obtain rolls from bank tellers.  Obtaining
				coins from the Dutch Central Bank (De Nederlandsche Bank) is
				also not possible.  If you want to obtain coin rolls you need
				to use a Geldmaat coin roll machine which can be found in
				specific branches of GAMMA and Karwei.  Geldmaat offers a map
				on their website where you can search for branches with these
				machines; you can find that map %shere%s.`
				`<a
					href="https://www.locatiewijzer.geldmaat.nl/nl/"
					target="_blank"
				>`
				`</a>` | safe
			}}
		</p>

		<p>
			{{ $p.Get `
				In order to be able to use a Geldmaat coin machine, you must be
				a customer of either ABN AMRO, ING, or Rabobank.  You also
				cannot pay by cash, only card payments are allowed.  All three
				banks charge a withdrawal fee for getting coin rolls, which are
				detailed in the list below.
			` }}
		</p>

		<dl>
			<dt>ABN AMRO</dt>
			<dd>{{ $p.Get "%s per roll." ($p.M 0.30) }}</dd>

			<dt>ING</dt>
			<dd>
				{{ $p.Get "Base fee of %s + %s per roll."
			          ($p.M 7.00) ($p.M 0.35)
				}}
			</dd>

			<dt>Rabobank</dt>
			<dd>
				{{ $p.Get "Base fee of %s + %s per roll."
				      ($p.M 7.00) ($p.M 0.50)
				}}
			</dd>
		</dl>

		<p>
			{{ $p.Get `
				One- and two-cent coins have been removed from circulation and
				cannot be obtained.
			` }}
		</p>
		{{ else if eq .Code "pt" }}
		<h3>Banco Comercial Português</h3>
		<p>
			{{ $p.Get `
				Coin bags are sold with no additional fees to bank customers.
			` }}
		</p>

		<h3>{{ $p.Get "Bank of Portugal (Banco de Portugal)" }}</h3>
		<p>
			{{ $p.Get `
				Coin bags are sold with no additional fees to everyone.
			` }}
		</p>
		{{ else if eq .Code "si" }}
		<p>
			{{ $p.Get "In general there is a %s fee for coin rolls." ($p.M 1.20) }}
		</p>

		<h3>{{ $p.Get "Bank of Slovenia (Banka Slovenije)" }}</h3>
		<p>
			{{ $p.Get `
				You can purchase commemorative coins for face value, and coin
				rolls are sold with no fees to everyone.
			` }}
		</p>
		{{ else if eq .Code "sk" }}
		<h3>{{ $p.Get "National Bank of Slovakia (Národná banka Slovenska)" }}</h3>
		<p>
			{{ $p.Get `
				You may be able to get uncirculated rolls, but this is not yet
				confirmed.
			` }}
		</p>

		<h3>Tatra Banka</h3>
		<p>
			{{ $p.Get `
				You can get an unlimited number of rolls for a %s fee.  You
				must be a customer of the bank.`
				($p.M 5.00)
 			}}
		</p>
		{{ else if eq .Code "va" }}
		<p>
			{{ $p.Get `
				Ask the Pope nicely and he’ll probably give you some Vatican
				coins for free.
			` }}
		</p>
		{{ else }}
		<p>
			{{ $p.Get "We currently have no information regarding coin roll hunting in {Country}."
				(map "Country" ($p.Get .Name)) }}
		</p>
		{{ end }}
	</details>
	{{ end }}
</main>
{{ end }}