{{ define "header" }}
{{ template "header-navbar" . }}
{{ end }}

{{ define "content" }}
<header class="container">
	{{ template "navbar" . }}
	<hgroup>
		<h1>{{ .Get "The Euro Cash Wiki" }}</h1>
		<p>
			<!-- TODO: Just make this one translation -->
			{{/* TRANSLATORS: Beginning of sentence, as in ‘United in …’ */}}
			{{ .Get "United in" }}
			<del>{{ .Get "diversity" }}</del>
			<ins>{{ .Get "cash" }}</ins>
		</p>
	</hgroup>
</header>
<main class="container">
	<!-- TODO(2026): s/26/27/; Welcome Bulgaria! -->
	<p>
		{{ .Get "Welcome to the Euro Cash Wiki! This sites aims to be a resource for you to discover everything there is to know about the coins and banknotes of the Euro, a currency that spans 26 countries and 350 million people. We also have dedicated sections of the site for collectors." }}
	</p>
</main>
{{ end }}