{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<hgroup>
		<h1>{{ .T "The Euro Cash Compendium" }}</h1>
		<p>
			{{ .T "United in" }}
			<del>{{ .T "diversity" }}</del>
			<ins>{{ .T "cash" }}</ins>
		</p>
	</hgroup>
</header>
<main>
	<p>
		{{ .T "Welcome to the Euro Cash Compendium. This sites aims to be a resource for you to discover everything there is to know about the coins and banknotes of the Euro, a currency that spans 26 countries and 350 million people. We also have dedicated sections of the site for collectors." }}
	</p>
</main>
{{ end }}
