{{ define "content" }}
<header>
	{{ template "navbar" . }}
	<h1>{{ .Get "Select Your Language" }}</h1>
</header>
<main>
	<p>
		{{ .Get "Select your preferred language to use on the site." }}
	</p>
	<hr />
	<h2>{{ .Get "Eurozone Languages" }}</h2>
	{{ template "langgrid" true }}
	<h2>{{ .Get "Other Languages" }}</h2>
	{{ template "langgrid" false }}
</main>
{{ end }}

{{ define "langgrid" }}
{{ $ez := . }}
<form action="/language" method="POST">
	<div class="lang-grid">
		{{ range locales }}
			{{ if eq $ez .Eurozone }}
				<button
					type="submit"
					name="locale"
					value={{ .Bcp }}
					{{ if not .Enabled }}
						disabled
					{{ end }}
				>
					<span
						lang={{ .Bcp }}
						data-code={{ .Language | toUpper }}
					>
						{{ .Name }}
					</span>
				</button>
			{{ end }}
		{{ end }}
	</div>
</form>
{{ end }}